/* @import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  overflow-y: hidden;
}

.bg-img {
  background: url("bg.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.bg-img:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.header {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 100;
  padding: 0 20px;
}

.nav {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.nav,
.nav_item {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav_logo,
.nav_link,
.button {
  color: #fff;
}

.nav_logo {
  font-size: 25px;
}

.nav_item {
  column-gap: 25px;
}

.nav_link:hover {
  color: #d9d9d9;
}

.button {
  padding: 6px 24px;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
}

.button:active {
  transform: scale(0.98);
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 60px 32px;
  width: 370px;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.04);
  box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
}

.content header {
  color: white;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: "Montserrat", sans-serif;
}

.small-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
}

.field {
  position: relative;
  border-radius: 0.5rem;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgba(255, 255, 255, 0.94);
}

.field span {
  color: #222;
  width: 40px;
  line-height: 45px;
}

.field input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.space {
  margin-top: 16px;
}

.show {
  position: absolute;
  right: 13px;
  font-size: 13px;
  font-weight: 700;
  color: #222;
  display: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.pass-key:valid ~ .show {
  display: block;
}

.pass {
  text-align: left;
  margin: 10px 0;
}

.pass a {
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.pass:hover a {
  text-decoration: underline;
}

.login-button {
  background: #3498db;
  width: 100%;
  border: 1px solid #2691d9;
  border-radius: 0.5rem;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.field input[type="submit"]:hover {
  background: #2691d9;
}

.links {
  display: flex;
  cursor: pointer;
  color: white;
}

.back-signup {
  display: flex;
  justify-content: center;
  font-size: 15px;
  color: white;
  font-family: "Poppins", sans-serif;
}

.back-signup a {
  color: #ffffff;
  text-decoration: none;
}

.back-signup a:hover {
  text-decoration: underline;
}


.error{
  color: red;
  
  font-size: 1.5rem;
  margin-left: 5px;
}

.errorText{
  color: red;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.errortitle{
  display: flex;
  flex-direction: column;
} */