.body_flight2{
    background: url("./bg.jpg") no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.custom-flight-form {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: auto;
    margin: 5rem 0;
    padding: 2rem;
    border: 1px solid transparent;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(30px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: #ccc;
}

.custom-flight-form h2 {
    text-align: center;
    margin-bottom: 2rem;
}





.custom-label {
    margin-right: 10px;
    color: #ccc;
    width: 100px;
}

.custom-button {
    padding: 0.5rem;
    width: 10rem;
    background-color: #00a88e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    align-self: center;
}

.custom-button:hover {
    background-color: #ccc;
}
